

<script src="/dist/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<footer class="bd-footer text-muted">
   <div class="container-fluid">Designed and Developed by Kazi Islam</div>
</footer>

</body>
</html>
